## Deliverable 3. Create a Travel Itinerary Map.

In [33]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys

In [34]:
#Import API key
sys.path.append("..")
from config import g_key

#Configure gmaps
gmaps.configure(api_key=g_key)

In [35]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("..\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Victoria,HK,71.65,overcast clouds,22.2855,114.1577,Mini Central
1,1,Vestmannaeyjar,IS,49.19,overcast clouds,63.4427,-20.2734,Glamping & Camping
2,2,Deogarh,IN,85.37,broken clouds,21.5333,84.7333,Amit Henej House
3,3,Leh,IN,50.81,broken clouds,34.1667,77.5833,Hotel Ladakh Greens
4,5,Coihaique,CL,45.21,clear sky,-45.5752,-72.0662,Diego De Almagro Coyhaique

In [36]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [37]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Hereford']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Hereford']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Newport']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Andover'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Horsham']

In [39]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}') 
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (52.0568, -2.7148), End: (52.0568, -2.7148)
Stop 1: (51.5877, -2.9984), Stop 2: (51.2083, -1.4825), Stop 3: (51.064, -0.3272)

In [40]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(vacation_itinerary)
fig


# Trying to figure out what the AssertionError is: https://www.delftstack.com/howto/python/handle-the-python-assertion-error-and-find-the-source-of-error/
# import logging

# try:
#     assert True == False
# except AssertionError:
#     logging.error("Something is quite not right!", exc_info=True)

Figure(layout=FigureLayout(height='420px'))

In [41]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,611,Hereford,GB,62.20,overcast clouds,52.0568,-2.7148,The Green Dragon Hotel
1,365,Newport,GB,60.82,overcast clouds,51.5877,-2.9984,ibis budget Newport
2,23,Andover,GB,64.49,overcast clouds,51.2083,-1.4825,Premier Inn Andover hotel
3,667,Horsham,GB,65.95,clear sky,51.0640,-0.3272,Springfields Hotel

In [42]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))